.custom-mine-tab-nav-text {
  padding: 0px 8px;
  height: 24px;
  line-height: 24px;
  box-sizing: border-box;
  border-radius: 22px;
  background-color: #f5f5f5;
  color: #666666;
}
.custom-mine-tab-nav-text.active {
  color: var(--van-primary-color);
  background-color: #edfafa;
}
.custom-mine-classify-tab-nav-text {
  color: #666666;
  font-size: 18px;
}
.custom-mine-classify-tab-nav-text.active {
  position: relative;
  font-size: 22px;
  color: #101010;
  font-weight: 600;
}
.custom-mine-classify-tab-nav-text.active::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(180deg, rgba(0, 191, 198, 0) 0%, rgba(0, 191, 198, 0.9) 100%);
}
#app {
  height: 100%;
}
#root {
  height: 100%;
  width: 100%;
}
/**
 * 全局自定义动画
 */
@keyframes loading {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
.v-rotate {
  animation: loading 1s steps(12, end) infinite;
}
:root {
  --van-primary-color: #00bfc6;
  --van-button-default-height: 32px;
  --van-button-default-line-height: 32px;
}
:root:root {
  --van-nav-bar-height: 44px;
}
@font-face {
  font-family: "思源宋体";
  src: url("@/assets/font/SourceHanSerifCN-SemiBold-7.otf");
}
/* 隐藏滚动条，但内容仍然可以滚动 */
* {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}
*::-webkit-scrollbar {
  display: none;
  /* Safari 和 Chrome */
}
.container {
  height: 100%;
}
.single-line-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.multiline-overflow {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.hide-x-scrollbar {
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.hide-x-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-y-scrollbar {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.hide-y-scrollbar::-webkit-scrollbar {
  display: none;
}
.hairline {
  position: relative;
}
.hairline::after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
  border-top-width: 1px;
}
#nprogress .bar {
  background: var(--van-primary-color) !important;
}
#nprogress .spinner {
  display: none !important;
}
