.custom-mine-tab-nav-text {
  padding: 0px 8px;
  height: 24px;
  line-height: 24px;
  box-sizing: border-box;
  border-radius: 22px;
  background-color: #f5f5f5;
  color: #666666;
}
.custom-mine-tab-nav-text.active {
  color: var(--van-primary-color);
  background-color: #edfafa;
}
.custom-mine-classify-tab-nav-text {
  color: #666666;
  font-size: 18px;
}
.custom-mine-classify-tab-nav-text.active {
  position: relative;
  font-size: 22px;
  color: #101010;
  font-weight: 600;
}
.custom-mine-classify-tab-nav-text.active::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(180deg, rgba(0, 191, 198, 0) 0%, rgba(0, 191, 198, 0.9) 100%);
}
#app {
  height: 100%;
}
#root {
  height: 100%;
  width: 100%;
}
